@import "vars";
@import "mixin";


.modal-window{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 99;
  padding: .5em;
  perspective: 1000px;

  .hidden-modal{
    transform: translateZ(40px) translateX(-50%) rotateY(-120deg) !important;
    opacity: 0 !important;
    max-width: 0 !important;
    transition:opacity .4s, transform .5s, max-width .4s;

  }

  .modal-wrapper{
    position: absolute;
    top: 2em;
    left: 50%;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 -1px 7px 2px #1b1212;
    background-color: #fff;
    font-family: $font-heads;
    border-radius: 5px;

    transform-style: preserve-3d;
    transform-origin: 0 100%;
    opacity: 1;
    transform: translateZ(0px) translateX(-50%) rotateY(0deg);
    transition:opacity .4s, transform .5s, width .4s;

    @include max_425{
      &{
        width: 300px;
      }
    }
    .modal-header{
      background: rgb(255, 255, 255);
      //background: $modal-color;
      .modal-title{
        color: #7258A1;
        font-weight: bold;
      }
      .modal-btn{
        background: transparent;
        outline: none;
        cursor: pointer;
      }
    }
    .modal-body{
      font-weight: 200;
    }
    .modal-footer{
      .close-modal-btn{
        i{
          color: #543f77;
        }
      }
    }
  }
  .modal-btn{
    outline-color: #543f77;
    border: none;
    padding: 0.1em .5em;
    background: #7258A1;
    color: #fff;
    border-radius: 5px;
  }
}
.modal-input{
  display: flex;
  justify-content: start;
  flex-direction: column;

  label{
    font-weight: bold;
    color: #666666;
    margin: 0;
  }
  .inp-source:active ~label{
    color: #543f77;
    font-size: 20px;
  }
  .inp-source{
    font-weight: 200;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin-bottom: .5em;

    &:focus{
      border-bottom: 2px solid #535353;
      transition: border-bottom .20s;
    }
  }
}


