@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

body, p{
    margin: 0;
    padding: 0;
}
/*main-header*/
.main-header{
    width: 100%;
    background: #d32f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}
.main-header__logo>span{
    font-weight: bold;
    font-size: 24pt;
    font-family: 'Noto Sans JP', sans-serif;
}
.main-header__search-records-form{
    position: relative;
}
.main-header__search-records-form:hover .search-record-input, .search-record-input:active, .search-record-input:focus{
    border: 2px solid #000;
    transition: all .1ms;
}
.main-header__search-records-form:hover .search-record-btn, .search-record-btn:focus, .search-record-btn:active{
    outline: none;
    color: #ccc;
    transition: all .1ms;
    cursor: pointer;
}
.search-record-input{
    width: 500px;
    max-width: 100%;
    background: rgba(66, 66, 66, .8);
    color: #fff;
    outline: none;
    border-radius: 15px;
    border: 2px solid rgba(66, 66, 66, 1);
    padding: .2em 1em;
    transition: border .1ms;
}
.search-record-btn{
    border: 0;
    background: transparent;
    outline: none;
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 18px;
}
.main-header__account-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-info__picture{
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    background: #424242;
    border-radius: 50%;
    outline: none;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    margin: 0 .5em;
}
